html {
  font-size: 18px;
}

body {
  background-color: gray !important;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}
